<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/08/nuspec.xsd">
    <metadata>
        <id>Defunctr</id>
        <version>@@version</version>
        <title>Defunctr</title>
        <authors>Cinecove</authors>
        <owners>Cinecove</owners>
        <projectUrl>@@projecturl</projectUrl>
        <requireLicenseAcceptance>false</requireLicenseAcceptance>
        <description>Defunctr is a module for Modernizr that will detect the current browser using feature detection. It will then append browser informational classes to the head element of the page, giving the designer the ability to override CSS styles without using older browser hacks. Changing the browsers compatability mode will cause the correct classes to be applied and changing a user-agent will have not effect on the class generation.</description>
        <summary>Defunctr is a module for Modernizr that will append browser versioning information into the head element of your web pages using feature detection.</summary>
        <releaseNotes>Support for Requirejs, Commonjs, and AMD environments is now supported. New detections for IE 10, 11, and 12. Detection support for Edge added. Fix for IE 11 compatabilty mode 5 being reported as multiple versions of IE.</releaseNotes>
        <copyright>2013 - @@year @@copyright</copyright>
        <tags>Modernizr, Browser Detection, HTML5, Shiv</tags>
        <dependencies>
            <dependency id="Modernizr" version="2.6.2" />
        </dependencies>
    </metadata>
    <files>
        <file src="..\release\defunctr-@@version.js" target="content\Scripts\Vendor\Defunctr\defunctr-@@version.js" />
        <file src="..\release\defunctr-@@version.map" target="content\Scripts\Vendor\Defunctr\defunctr-@@version.map" />
        <file src="..\release\defunctr-@@version.min.js" target="content\Scripts\Vendor\Defunctr\defunctr-@@version.min.js" />
    </files>
</package>
